.landing{
    position: relative;
    width: 100%;
    height: 100vh;
   
}
.oneLineContainer{
    position: relative;
    height: 70%;
}
.earthImage{
    position: relative;
    height: 100%;
    opacity: 0.5;
}