@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.homeContain {
    position: relative;
    border: 1px solid #211e46cc;
    width: 72rem;
    height: 99.5vh;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
}

.homeSideBar {
    position: relative;
    flex: 25%;
    border-right: 1px solid #211e46cc;
}

.mainHome {
    position: relative;
    flex: 60%;
    height: 100%;
    display:flex;
    flex-direction: column;
}

.musicPlayArea {
    position: relative;
    flex: 25%;
    border-left: 1px solid #211e46cc;
}
.musicCard{
    position: relative;
    display: flex;
    justify-content: center;
}

.homeContainNavBar {
    height: 2rem;
    border-bottom: 1px solid #211e46cc;
    text-align: center;
    padding-top: 2px;
    font-size: 1.1rem;
    opacity: 0.6;
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.homeMusicCards{
    position: relative;
    width:100%;
    padding: 10px;
}
.musicList{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    height: 88%;
}
.homeSideBar
{
    display:flex;
    flex-direction:column;
    /* justify-content: start; */
    align-items: start;
    margin-left:25px;
    margin-top:20px;
}
.but_home
{
    font-size:1.25rem;
    margin-top:25px;
    /* background-color: red; */
}
.but_home_add
{
    font-size:1.25rem;
    border-radius:50px;
    margin-top:25px;
    height:45px;
    width:80%;
    background-color: #007bffff;
}
.address_but
{
    font-size: 1.15rem;
    height:40px;
    color: rgb(205, 205, 205);
    width: 90%;
    border:solid 2px rgb(119, 116, 146);
    border-radius:8px;
    margin-top: 20px;
    margin-left: 5%;
}