.music-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  overflow-y: auto;
  max-height: 84vh;
}

/* Custom scrollbar styling */
.music-container::-webkit-scrollbar {
  width: 5px; /* Width of the entire scrollbar */
}

.music-container::-webkit-scrollbar-track {
  background: rgba(51, 29, 72, 0.1); 
  border-radius: 10px;
}

.music-container::-webkit-scrollbar-thumb {
  background-color: #181539; /* Color of the scrollbar thumb */
  border-radius: 10px;
}

.music-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color when hovered */
}

.music-card-differ {
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  min-height: 150px;
  max-width: 600px;
  transition: transform 0.2s;
}

.music-card-differ:hover {
  transform: scale(1.02);
}

.music-image {
  flex-shrink: 0;
}

.music-card-differ img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-right: 1px solid #dee2e6;
}

.music-details {
  padding: 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.music-title-name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.music-title-name h3 {
  font-size: 1.5em;
  margin: 0;
}

.music-title-name .music-name {
  font-size: 1.2em;
  color: #6c757d;
  margin: 0;
}

.music-description {
  margin-top: 10px;
  color: #6c757d;
}