* {
  padding: 0px;
  margin: 0px;
}

body{
  width: 100%;
  background-color: #0e0c22;
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-track {
  background: #0e0c22; 
}

::-webkit-scrollbar-thumb {
  background: #211e46; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #211e46;
}
